<section>
  <h1>Redux Saga</h1>

  <small>
    Yevhen Shemet<br />
    github: <a target="_blank" href="https://github.com/yevhene/present-redux-saga">yevhene/present-redux-saga</a>
  </small>
</section>

<section>
  <h2>Questions?</h2>
</section>
